.login{
    width: 100dvw;
    height: 100dvh;
    background-color: #016BF5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-content{
    width: 300px;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    border-radius: 7px;

}

.login-input {
    padding: 10px;
    border-radius: 4px;
}

.login-button{
    padding: 10px;
    background-color: #016BF5;
    color:white;
    border:none;
    border-radius: 5px;
}