.loading{
    width: 100dvw;
    height: 100dvh;
    background-color: #01B0EA;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}